In [12]:
import pandas as pd
from fullcontact import FullContactClient
import numpy as np
from imblearn.over_sampling import SMOTENC
from helpers import Data

df = pd.read_csv(r'C:\Users\aacjp\Spencer\datasets\MockHyros.csv')
df1 = pd.read_csv(r'C:\Users\aacjp\Spencer\datasets\HyrosNumerical.csv')
df2 = pd.read_csv(r'C:\Users\aacjp\Spencer\datasets\HyrosAugmented.csv')

In [13]:
df.head()

,lead,closed,monthly traffic spend,domain,business model,monthly revenue,% paid traffic,average order value,monthly customers,visits,...,monthly hardcosts,ad revenue,roas,cac,profit,n links lp,n words lp,trigger words lp,lpc,profit margin
0,FrankKern.com,1,54437,entrepreneurship,info,583310,12.30,3000,194,86590,...,18666,71747.13,1.317985,280.0,510207,2.0,2140.0,55.0,2198.00000,87.47
1,ImpactTheory.Com,1,126095,self-development,media,250000,12.23,97,25773,147290,...,8000,30575.00,0.242476,5.0,115905,NaN,NaN,NaN,10787.69697,46.36
2,digitalmillionairesecrets.com,1,139711,entrepreneurship,info,1666667,82.83,997,1672,49999,...,53333,1380500.00,9.881112,84.0,1473623,3.0,108.0,1.0,113.00000,88.42
3,mastermind.com,1,220950,entrepreneurship,software,2877110,3.91,297,9687,807270,...,1726266,112495.00,0.509142,23.0,929894,NaN,NaN,NaN,10787.69697,32.32
4,ShopaNova.com,1,100000,ecommerce,software,333333,38.51,2000,167,16700,...,200000,128367.00,1.283670,599.0,33333,1.0,14.0,1.0,17.00000,10.00

In [14]:
df1.head()

,closed,monthly traffic spend,monthly revenue,% paid traffic,average order value,monthly customers,visits,monthly visits change,bounce rate,monthly hardcosts,...,software,wholesale,facebook,instagram,linkedin,other,pinterest,quora,reddit,youtube
0,1,54437,583310,12.30,3000,194,86590,-35026,52.53,18666,...,0,0,0,0,0,0,0,0,0,1
1,1,126095,250000,12.23,97,25773,147290,4448,50.80,8000,...,0,0,0,0,0,0,0,0,0,1
2,1,139711,1666667,82.83,997,1672,49999,-18005,81.64,53333,...,0,0,1,0,0,0,0,0,0,0
3,1,220950,2877110,3.91,297,9687,807270,-202140,50.84,1726266,...,1,0,1,0,0,0,0,0,0,0
4,1,100000,333333,38.51,2000,167,16700,2505,64.14,200000,...,1,0,0,0,0,0,0,0,0,1

In [17]:
df2.head()

,monthly traffic spend,monthly revenue,% paid traffic,average order value,monthly customers,visits,monthly visits change,bounce rate,monthly hardcosts,ad revenue,...,wholesale,facebook,instagram,linkedin,other,pinterest,quora,reddit,youtube,closed
0,54437,583310,12.30,3000,194,86590,-35026,52.53,18666,71747.13,...,0,0,0,0,0,0,0,0,1,1
1,126095,250000,12.23,97,25773,147290,4448,50.80,8000,30575.00,...,0,0,0,0,0,0,0,0,1,1
2,139711,1666667,82.83,997,1672,49999,-18005,81.64,53333,1380500.00,...,0,1,0,0,0,0,0,0,0,1
3,220950,2877110,3.91,297,9687,807270,-202140,50.84,1726266,112495.00,...,0,1,0,0,0,0,0,0,0,1
4,100000,333333,38.51,2000,167,16700,2505,64.14,200000,128367.00,...,0,0,0,0,0,0,0,0,1,1

The Hack: http://sangaline.com/post/advanced-web-scraping-tutorial/

https://platform.fullcontact.com/developers/api-keys